--
-- PostgreSQL database dump
--

\restrict KzbEA6es0PlIvvjhnMqVtrWhPBmuXKN9OA3RNDbu3aJV8BTunicSslI00SZCuoD

-- Dumped from database version 17.8
-- Dumped by pg_dump version 17.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.attendance (
    raid_id integer NOT NULL,
    character_id integer NOT NULL
);


ALTER TABLE public.attendance OWNER TO admin;

--
-- Name: characters; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.characters (
    id integer NOT NULL,
    name text NOT NULL,
    class text
);


ALTER TABLE public.characters OWNER TO admin;

--
-- Name: items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.items (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.items OWNER TO admin;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_id_seq OWNER TO admin;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: loot_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.loot_history (
    id integer NOT NULL,
    raid_id integer,
    item_id integer,
    winner_id integer,
    is_reserve_win boolean DEFAULT false
);


ALTER TABLE public.loot_history OWNER TO admin;

--
-- Name: loot_history_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.loot_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.loot_history_id_seq OWNER TO admin;

--
-- Name: loot_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.loot_history_id_seq OWNED BY public.loot_history.id;


--
-- Name: manual_bonus_adjustments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.manual_bonus_adjustments (
    id integer NOT NULL,
    character_id integer,
    amount integer,
    reason text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.manual_bonus_adjustments OWNER TO admin;

--
-- Name: manual_bonus_adjustments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.manual_bonus_adjustments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.manual_bonus_adjustments_id_seq OWNER TO admin;

--
-- Name: manual_bonus_adjustments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.manual_bonus_adjustments_id_seq OWNED BY public.manual_bonus_adjustments.id;


--
-- Name: raids; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.raids (
    id integer NOT NULL,
    raid_date timestamp with time zone DEFAULT now()
);


ALTER TABLE public.raids OWNER TO admin;

--
-- Name: reserves; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reserves (
    id integer NOT NULL,
    character_id integer,
    raid_id integer,
    item_id integer
);


ALTER TABLE public.reserves OWNER TO admin;

--
-- Name: reserves_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.reserves_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reserves_id_seq OWNER TO admin;

--
-- Name: reserves_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.reserves_id_seq OWNED BY public.reserves.id;


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Name: loot_history id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.loot_history ALTER COLUMN id SET DEFAULT nextval('public.loot_history_id_seq'::regclass);


--
-- Name: manual_bonus_adjustments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.manual_bonus_adjustments ALTER COLUMN id SET DEFAULT nextval('public.manual_bonus_adjustments_id_seq'::regclass);


--
-- Name: reserves id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reserves ALTER COLUMN id SET DEFAULT nextval('public.reserves_id_seq'::regclass);


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: characters; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: loot_history; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: manual_bonus_adjustments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.manual_bonus_adjustments (id, character_id, amount, reason, created_at) FROM stdin;
\.


--
-- Data for Name: raids; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.raids (id, raid_date) FROM stdin;
67979	2025-12-07 19:31:25.624+00
70182	2025-12-14 19:30:38.057+00
72175	2025-12-21 19:28:07.239+00
73680	2025-12-28 19:27:38.823+00
75496	2026-01-04 19:23:46.005+00
77729	2026-01-11 19:26:33.038+00
80069	2026-01-18 19:29:36.532+00
82393	2026-01-25 19:28:39.106+00
84615	2026-02-01 19:30:25.054+00
86876	2026-02-08 19:27:44.393+00
90027	2026-02-15 19:27:55.468+00
\.


--
-- Data for Name: reserves; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.items_id_seq', 460, true);


--
-- Name: loot_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.loot_history_id_seq', 131, true);


--
-- Name: manual_bonus_adjustments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.manual_bonus_adjustments_id_seq', 1, false);


--
-- Name: reserves_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.reserves_id_seq', 456, true);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (raid_id, character_id);


--
-- Name: characters characters_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT characters_name_key UNIQUE (name);


--
-- Name: characters characters_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT characters_pkey PRIMARY KEY (id);


--
-- Name: items items_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_name_key UNIQUE (name);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: loot_history loot_history_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.loot_history
    ADD CONSTRAINT loot_history_pkey PRIMARY KEY (id);


--
-- Name: manual_bonus_adjustments manual_bonus_adjustments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.manual_bonus_adjustments
    ADD CONSTRAINT manual_bonus_adjustments_pkey PRIMARY KEY (id);


--
-- Name: raids raids_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.raids
    ADD CONSTRAINT raids_pkey PRIMARY KEY (id);


--
-- Name: reserves reserves_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reserves
    ADD CONSTRAINT reserves_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.characters(id);


--
-- Name: attendance attendance_raid_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_raid_id_fkey FOREIGN KEY (raid_id) REFERENCES public.raids(id);


--
-- Name: loot_history loot_history_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.loot_history
    ADD CONSTRAINT loot_history_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id);


--
-- Name: loot_history loot_history_raid_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.loot_history
    ADD CONSTRAINT loot_history_raid_id_fkey FOREIGN KEY (raid_id) REFERENCES public.raids(id);


--
-- Name: loot_history loot_history_winner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.loot_history
    ADD CONSTRAINT loot_history_winner_id_fkey FOREIGN KEY (winner_id) REFERENCES public.characters(id);


--
-- Name: manual_bonus_adjustments manual_bonus_adjustments_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.manual_bonus_adjustments
    ADD CONSTRAINT manual_bonus_adjustments_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.characters(id);


--
-- Name: reserves reserves_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reserves
    ADD CONSTRAINT reserves_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.characters(id);


--
-- Name: reserves reserves_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reserves
    ADD CONSTRAINT reserves_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id);


--
-- Name: reserves reserves_raid_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reserves
    ADD CONSTRAINT reserves_raid_id_fkey FOREIGN KEY (raid_id) REFERENCES public.raids(id);


--
-- PostgreSQL database dump complete
--

\unrestrict KzbEA6es0PlIvvjhnMqVtrWhPBmuXKN9OA3RNDbu3aJV8BTunicSslI00SZCuoD

